[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=X, _X, X_int, _X_int, X_mean, _allocated, _kernel, _data_id, _data_checksum, _requested_dpus, ctr, i, y, h, X_checksum, Xt

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=attribute-defined-outside-init
